// Common styles of the project

html, body {
  height: 100%;
}

.page {
  font-family: $latoreg;
  min-width: 320px;
}

.page__wrapper {
  min-height: 100%;
  //padding: 0 10px;
  //margin-bottom: -50px;
}

* html .page__wrapper {
  height: 100%;
}

.page__buffer {
  //height: 50px;
}

img{
  max-width: 100%;
  height: auto;
}