// File for scss-vars.
// For example: main colors, paddings and so on.


//Fonts
$latobold: 'latobold', sans-serif;
$latoreg: 'latoregular', sans-serif;

//Colors

$blue: #15a4fa;
$colorBlock: #f6f9f9;
$colorTitle: #2d3950;
$colorText: #999999;

