mixin footer(data)
    footer.footer
      p.footer__desc © 2019 Фрилансер веб-разработчик
      ul.footer__social
        li.footer__item
          a(href="https://t.me/sera_prokop" target="_blank").footer__link Telegram
            != pugHelpers.Icon.call(locals, {iconName: 'telegram', className: 'footer__svg', iconWidth: '17', iconHeight: '17'})
        li.footer__item
          a(href="https://vk.com/sera.prokop" target="_blank").footer__link Вконтакте
            != pugHelpers.Icon.call(locals, {iconName: 'vk', className: 'footer__svg', iconWidth: '17', iconHeight: '17'})
        li.footer__item
          a(href="https://github.com/sera-prokop" target="_blank").footer__link Github
            != pugHelpers.Icon.call(locals, {iconName: 'github', className: 'footer__svg', iconWidth: '20', iconHeight: '20'})
        li.footer__item
          a(href="https://www.facebook.com/sergey.prokopenya" target="_blank").footer__link Facebook
            != pugHelpers.Icon.call(locals, {iconName: 'fb', className: 'footer__svg', iconWidth: '17', iconHeight: '17'})