mixin works(data)
  section.works
    .works__container
      h2.works__title Мои работы
      p.works__text Все гениальное начинается с простого
      ul.works__list
        li.works__item
          img.works__img(src="%=static=%img/assets/works/clouty.jpg" alt="works")
          a(href="https://www.clouty.ru/" target="_blank").works__link Подробнее
        li.works__item
          img.works__img(src="%=static=%img/assets/works/autousa.jpg" alt="works")
          a(href="http://www.autousa.com.ua/" target="_blank").works__link Подробнее
        li.works__item
          img.works__img(src="%=static=%img/assets/works/domus.jpg" alt="works")
          a(href="http://domusgroup.ru/" target="_blank").works__link Подробнее
        li.works__item
          img.works__img(src="%=static=%img/assets/works/power.jpg" alt="works")
          a(href="http://www.power-m.ru/" target="_blank").works__link Подробнее
        li.works__item
          img.works__img(src="%=static=%img/assets/works/second.jpg" alt="works")
          a(href="http://psv.h1n.ru/works/second/" target="_blank").works__link Подробнее
        li.works__item
          img.works__img(src="%=static=%img/assets/works/first.jpg" alt="works")
          a(href="http://psv.h1n.ru/works/first/" target="_blank").works__link Подробнее
