mixin works(data)
  section#portfolio.works
    .works__container
      h2.works__title Мои работы
      p.works__text Все гениальное начинается с простого
      ul.works__list
        a(href="http://scent.coffee/" target="_blank").works__item
          img.works__img(src="%=static=%img/assets/works/scent_coffee.jpg" alt="Clouty")
          span.works__link Подробнее
        a(href="https://domusgroup.ru/" target="_blank").works__item
          img.works__img(src="%=static=%img/assets/works/domus.jpg" alt="Domusgroup")
          span.works__link Подробнее
        a(href="https://fullhousedesign.ru/" target="_blank").works__item
          img.works__img(src="%=static=%img/assets/works/fhd.jpg" alt="Fullhousedesign")
          span.works__link Подробнее
        a(href="https://lunchbery.ru/" target="_blank").works__item
          img.works__img(src="%=static=%img/assets/works/lunchberu.jpg" alt="Lunchbery")
          span.works__link Подробнее
        a(href="http://car.verstak.com.ru/" target="_blank").works__item
          img.works__img(src="%=static=%img/assets/works/carauto.jpg" alt="Auto")
          span.works__link Подробнее
        a(href="https://at-transmission.ru/" target="_blank").works__item
          img.works__img(src="%=static=%img/assets/works/transmission.jpg" alt="AT-transmission")
          span.works__link Подробнее
