mixin about(data)
    section.about-code
      .about-code__container
        h2.about-code__title Простой и чистый код
        p.about-code__text Я люблю, чтобы мой код был элегантным и эффективным. Логика должна быть достаточно прямолинейной, чтобы ошибкам было трудно спрятаться; зависимости — минимальными, что-бы упростить сопровождение; обработка ошибок — полной, в соответствии с выработанной стратегией.
