.header{
  &__wrapper{
    position: fixed;
    background-color: #fff;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 0 5px 0 rgba(204,204,204,1);
    z-index: 20;
  }
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include cc;
    padding: 30px 10px;
  }
  &__logo{
    box-sizing: border-box;
  }
  &__list{
    display: flex;
    align-items: center;
    @include nl;
    @include fs(18px);
  }
  &__link{
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
    transition: color $tr;
    outline: none;
    &:hover, &:focus{
      color: $blue;
    }
  }
  &__about{//header__about
    background:  url('%=static=%assets/header/header-bg.jpg') 50% 50% no-repeat;
    background-size: cover;
    margin-top: 100px;
  }
  &__container{
    box-sizing: border-box;
    @include cc;
    padding: 200px 10px;
    text-align: center;
  }
  &__title{
    text-align: center;
    margin: 0 0 35px;
    padding: 0 40px 30px;
    border-bottom: 2px solid $blue;
    @include fs(50px);
    display: inline-block;
    font-family: $latobold;
    color: white;
    text-transform: uppercase;
  }
  &__desc{
    margin: 0 0 60px;
    @include fs(17px);
    color: white;
  }
  &__about-link{
    padding: 15px 50px;
    display: inline-block;
    border: 1px solid $blue;
    border-radius: 3px;
    @include fs(17px);
    color: white;
    text-decoration: none;
    transition: $tr;
    outline: none;
    &:hover, &:focus{
      border: 1px solid darken($blue, 10%);
    }
    &:active{
      outline: none;
      border: 1px solid darken($blue, 20%);
    }
  }
}
